<!DOCTYPE html>
<html>
    <head>
        {{>header}}
    </head>
    <body>
        {{>navbar}}
        <!-- <Main Header> -->

        <div class="container-fluid main_header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-12 mx-auto">
                        <div class="row">
                            <div class="col-md-12 col-12 main-header-right">
                                <h3>404 Error</h3>
                                <div>
                                    <a href="/"><button class="about-me" >Go Back</button></a>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 col-12 main-header-right">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="images/p3.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>
